body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: whitesmoke;
}
/* Header */
#header {
    /* border-bottom: 1px solid black; */
    padding: 5%;
    background-color: #f0f8ff;
}
#coverImg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  animation: 3s ease 1s normal forwards 1 fadeOut;
}
@keyframes fadeOut {
  from {opacity: 1; z-index: 1;}
  to {opacity: 0; z-index: -1;}
}

.typewriter h1 {
    /* position: fixed; */
    overflow: hidden; 
    text-align: center;
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    font-family: 'DotGothic16', sans-serif;
    animation: 
      typing 5s steps(40, end),
      blink-caret .75s step-end infinite;
      animation-delay: 1.3s;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

/* Main Content */
#sideBar {
    padding: 3%;
    z-index: 1;
}
#gameContent {
    padding: 3%; 

}
.consoleList {
    text-align: left;
}
.consoleList li {
    margin-top: 30px;
}
.consoleList li:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: white;
    cursor: pointer;  
}
.card {
    margin: 50px auto;
    width: 60%;

}
@media only screen and (min-width: 770px) {
    #sideBar {
        height: 100vh;
    }
}
@media only screen and (max-width: 770px) {
    .card {
        margin: 50px auto;
        width: 90%;
    
    }
    .typewriter h1 {
        /* font-size: 1rem; */
    }
}
@media only screen and (max-width: 560px) {
    
    .typewriter h1 {
        font-size: 1rem;
    }
}